.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.responsive-canvas {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.fullscreen-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.fullscreen-btn svg {
  transform: translate(-0.5px, 1px);
}

.fullscreen-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
